<%= javascript_include_tag "ckeditor/ckeditor.js" %>  
<%= form_for(@admin_article) do |f| %>
  <% if @admin_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_article.errors.count, "error") %> prohibited this admin_article from being saved:</h2>

      <ul>
      <% @admin_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label" for="events"><%= f.label :title %></label>
    <div class="controls">
      <%= f.text_field :title %>  
    </div>
  </div>
  <% if f.object.is_tourist_route? %>
  <div class="control-group">
    <label class="control-label" for="events"><%= f.label :tour_code %></label>
    <div class="controls">
      <%= f.text_field :tour_code %>  
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="events"><%= f.label :quotation %></label>
    <div class="controls">
      <%= f.text_field :quotation %>  
    </div>
  </div>
  <% end %>
  <div class="control-group">
    <label class="control-label" for="events"><%= f.label :content %></label>
    <div class="controls">
      <%= f.cktext_area :content, :rows=>8, :style => "width: 500px;" %>
    </div>
  </div>
  <br />
  <% @admin_article.tour_pictures.each do |x|%>
    <%= image_tag x.image(:normal) if !x.id.nil?%>
    <%#= link_to( "x", {:controller => "articles", :action => "delete_image"}) %>
    <% if !x.id.nil? %>
    <%= link_to 'X', admin_delete_image_path(@admin_article.id, x) %>
    <% end %>
  <% end %>

  <div class="newPaperclipFiles">
    <%= f.fields_for :tour_pictures do |asset| %>
      <% if asset.object.new_record? %>
        <%= asset.file_field :image %>
      <% end %>
    <% end %>
  </div>

  <div class="existingPaperclipFiles">
    <% f.fields_for :tour_pictures do |asset| %>
      <% unless asset.object.new_record? %>
        <div class="thumbnail">
          <%= link_to( image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:original) ) %>
          <%#= asset.check_box :_delete %>
        </div>
      <% end %>        
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

