<%= form_for(@admin_article) do |f| %>
  <% if @admin_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_article.errors.count, "error") %> prohibited this admin_article from being saved:</h2>

      <ul>
      <% @admin_article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label" for="events"><%= f.label :title %></label>
    <div class="controls">
      <%= f.text_field :title %>  
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="events"><%= f.label :content %></label>
    <div class="controls">
      <%= f.text_area :content, :rows=>8, :style => "width: 500px;" %>  
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

