<div id="right-title">
    <h2>Listing admin_articles</h2>
    <%= link_to 'New Article', new_admin_article_path %>
</div>
<div id="right-content">
    <table  class="altrowstable" id="alternatecolor">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @admin_articles.each do |admin_article| %>
      <tr>
        <td><%= admin_article.title %></td>
        <td><%= admin_article.html_content %></td>
        <td><%= link_to 'Show', admin_article %></td>
        <td><%= link_to 'Edit', edit_admin_article_path(admin_article) %></td>
        <td><%= link_to 'Destroy', admin_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
</div>

<!-- Javascript goes in the document HEAD -->
<script type="text/javascript">
function altRows(id){
    if(document.getElementsByTagName){  
        
        var table = document.getElementById(id);  
        var rows = table.getElementsByTagName("tr"); 
         
        for(i = 0; i < rows.length; i++){          
            if(i % 2 == 0){
                rows[i].className = "evenrowcolor";
            }else{
                rows[i].className = "oddrowcolor";
            }      
        }
    }
}

window.onload=function(){
    altRows('alternatecolor');
}
</script>