<h1>Listing admin_articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Views</th>
    <th>Like</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_articles.each do |admin_article| %>
  <tr>
    <td><%= admin_article.title %></td>
    <td><%= admin_article.content %></td>
    <td><%= admin_article.views %></td>
    <td><%= admin_article.like %></td>
    <td><%= admin_article.created_at %></td>
    <td><%= admin_article.updated_at %></td>
    <td><%= link_to 'Show', admin_article %></td>
    <td><%= link_to 'Edit', edit_admin_article_path(admin_article) %></td>
    <td><%= link_to 'Destroy', admin_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_admin_article_path %>
