<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @admin_article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @admin_article.content %>
</p>

<p>
  <b>Views:</b>
  <%= @admin_article.views %>
</p>

<p>
  <b>Like:</b>
  <%= @admin_article.like %>
</p>

<p>
  <b>Created at:</b>
  <%= @admin_article.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @admin_article.updated_at %>
</p>


<%= link_to 'Edit', edit_admin_article_path(@admin_article) %> |
<%= link_to 'Back', admin_articles_path %>
