<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Travel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-5">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="header">
		<%= render :partial => "layouts/shared/header" %>
	</div>
	<div id="wrapper">
	  <div id="left">
			<div id="columns">
				<%= render :partial => "layouts/shared/columns" %>
			</div>
			<div id="search">
				<%= render :partial => "layouts/shared/connection" %>
			</div>
			<div class="text">
			  <img src="/assets/title4.gif" alt="" width="249" height="27" />
				<p><%= @promotions %></p>
				<a href="#" class="more2">more info</a>
			</div>
		</div>
		<div id="right">
			<div>
				<img src="/assets/title6.gif" alt="" width="183" height="27" />
				<p><%= @travel_guide %></p>
			</div>
			<div>
				<%= yield %>
			</div>
			<div>
				<a href="#" id="more">more tours</a>
			</div>
		</div>
	</div>
	<div id="footer">
		<%= render :partial => "layouts/shared/footer" %>
	</div>
</body>
</html>
