<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Travel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-5">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<%= render :partial => "layouts/shared/header" %>
	</div>
	<div id="wrapper">
	  <div id="left">
			<div id="columns">
				<%= render :partial => "layouts/shared/columns" %>
			</div>
			<div id="search">
				<%= render :partial => "layouts/shared/connection" %>
			</div>
			<div class="text">
			  <h1 class="block_title">News & Promotions</h1>
				<p><%= @promotions %></p>
				<a href="#" class="more2">more info</a>
			</div>
		</div>
		<div id="right">
			<div>
				<h1 class="block_title">Travle Guide</h1>
				<p><%= @travel_guide %></p>
			</div>
			<div>
				<%= yield %>
			</div>
			<div>
				<a href="#" id="more">more tours</a>
			</div>
		</div>
	</div>
	<div id="footer">
		<%= render :partial => "layouts/shared/footer" %>
	</div>
</body>
</html>
