<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<%= stylesheet_link_tag "application" %>
<title>Travel - About</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div id="header">
		<%= render :partial => "layouts/shared/header" %>
	</div>
	<div id="content">
  	  <div id="main">
	  		<p><a href="#" class="style4">Tours</a>  &raquo; <%= @page_title %></p>
		 	 <div id="gallery">
				  <img src="/assets/big.jpg" alt="" width="476" height="355" />
				  <div>
				  	<a href="#"><img src="/assets/p1.jpg" alt="" /></a>
				  	<a href="#"><img src="/assets/p2.jpg" alt="" /></a>
				  	<a href="#"><img src="/assets/p3.jpg" alt="" /></a>
				  	<a href="#"><img src="/assets/p4.jpg" alt="" /></a>
				  	<a href="#"><img src="/assets/p5.jpg" alt="" /></a>
				  	<a href="#"><img src="/assets/p6.jpg" alt="" /></a>
				  	<a href="#"><img src="/assets/p7.jpg" alt="" /></a>
				  	<a href="#"><img src="/assets/p8.jpg" alt="" /></a>
					<a href="#" class="view">View Gallery</a>
				  </div>
		 	 </div>
			 <div class="about">
			   <a href="#" id="banner"><img src="/assets/banner.jpg" alt="" width="187" height="301" /></a>
			   <h1><%= @page_title %></h1>
			   <p><%= @content %></p>
			 </div>
	  </div>
		<div id="sidebar">
			<div class="news">
				<img src="/assets/title10.gif" alt="" width="98" height="18" /><br />
				<div>
					<span>25 march</span>
					<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris.</p>
					<a href="#" class="more2">more info</a>
				</div>
				<div>
					<span>12 march</span>
					<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris.</p>
					<a href="#" class="more2">more info</a>
				</div>
				<a href="#" id="all">all news</a>
			</div>
			<div>
				<img src="/assets/title11.gif" alt="" width="198" height="41" />
				<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris in odio. Massa ac laoreet iaculipede nisl ullamcorpermassa, ac consectetuer feipsum eget pede.  Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odio.  massa ac laoreet iaculipede nisl ullamcorpermassa,consectetuer feipsum eget pede. Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt.</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul>
			<li><a href="index.html">Home Page</a> |</li>
			<li><a href="index2.html">About Company</a> |</li>
			<li><a href="index2.html">Hot Tours</a> |</li>
			<li><a href="index2.html">Hotels</a> |</li>
			<li><a href="index2.html">Services</a> |</li>
			<li><a href="index2.html">Reviews</a> |</li>
			<li><a href="index2.html">Partners</a> |</li>
			<li><a href="index2.html">Contact us</a></li>
		</ul>
		<p>Copyright &copy;. All rights reserved. Design by <a href="http://www.bestfreetemplates.info" target="_blank" title="Best Free Templates" class="bft">BFT</a></p>																																																			
	</div>
</body>
</html>
