<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "jquery" %>
<title>Travel - About</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<%= stylesheet_link_tag "flexslider" %>
<%#= javascript_include_tag "jquery.flexslider-min" %>
<%= javascript_include_tag "jquery.flexslider" %>
</head>

<body>
	<div id="header">
		<%= render :partial => "layouts/shared/header" %>
	</div>
	<div id="content">
      	  <div id="main">
            <% if !['about_company', 'hot_tours', 'hotels', 'car_rental', 'contact_us'].include?(params[:action]) %>
    	  		<p><%= link_to "Tour", {:controller=>"index", :action=>"index"}%>&raquo;
              <%= link_to "#{@article.categories.last.name}", {:controller=>"index", :action=>"#{@article.categories.last.format_name}_category"}%>
              &raquo; <%= @page_title %></p>
            <% end %>
    		 	<div>
		 	 	<!-- Place somewhere in the <body> of your page -->
		 	 	<% if !@article.nil? and !@article.tour_pictures.empty? %>
					<div id="slider" class="flexslider t_padding_20">
					  <ul class="slides">
					  	<% @article.tour_pictures.each do |picture| %>
					  		<% next if picture.nil? %>
						    <li class="centered">
						      <%= image_tag picture.image(:max)%>
						    </li>
					    <% end %>
					  </ul>
					</div>
				<% end %>
				<!-- <div id="carousel" class="flexslider">
				  <ul class="slides">
				    <li>
				      <img src="/assets/p3.jpg" alt="" />
				    </li>
				    <li>
				      <img src="/assets/p3.jpg" alt="" />
				    </li>
				    <li>
				      <img src="/assets/p3.jpg" alt="" />
				    </li>
				    <li>
				      <img src="/assets/p3.jpg" alt="" />
				    </li>
				  </ul>
				</div> -->
		 	 </div>
			 <div class="about t_padding_20">
			   <a href="#" id="banner"><img src="/assets/banner.jpg" alt="" width="187" height="301" /></a>
			   <h1><%= @page_title %></h1>
			   <p><%= @article.html_content %></p>
			 </div>
	  </div>
		<div id="sidebar">
			<div class="news">
        <h1 class="block_title">Other Tourist Route</h1>
        <% @other_tourist_route.each do |other| %>
        <% next if other.nil?%>
          <div>
            <%= link_to content_tag(:span, other.title), {:controller=>"index", :action=>other.format_title}  %>
            <p><%= other.none_html_content  %></p>
          </div>
        <% end %>
        <%= link_to "all tourist routes", {:controller=>"index", :action=>"#{@article.format_title}_category"}, :id=>"all" %>
			</div>
		</div>
	</div>
	<div id="footer">
		<%= render :partial => "layouts/shared/footer" %>							
	</div>
</body>
</html>
<script type="text/javascript">
	$(window).load(function() {
  // The slider being synced must be initialized first
  // $('#carousel').flexslider({
  //   animation: "slide",
  //   controlNav: false,
  //   animationLoop: false,
  //   slideshow: false,
  //   itemWidth: 210,
  //   itemMargin: 5,
  //   asNavFor: '#slider'
  // });
   
  $('#slider').flexslider({
    animation: "slide",
    controlNav: true,
    animationLoop: true,
    slideshow: true,
    sync: "#carousel"
  });
});
</script>