<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
<title>Travel - About</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<%= stylesheet_link_tag "/assets/flexslider" %>
<%#= javascript_include_tag "jquery.flexslider-min" %>
<%= javascript_include_tag "/assets/jquery.flexslider" %>
</head>

<body>
  <div id="header">
    <%= render :partial => "layouts/shared/header" %>
  </div>
  <div id="content">
      <div id="main">
        <p><a href="#" class="style4">Tours</a>  &raquo; <%= @page_title %></p>
       <%= yield %>
    </div>
    <div id="sidebar">
      <div class="news">
        <% is_tourist_route = !params[:action].include?("category") %>
        <% others = is_tourist_route ? @other_tourist_route[0..2] : @other_scenic_spots[0..2] %>
        <h1 class="block_title"><%= is_tourist_route ? "Other Tourist Route" : "Other Scenic Spots" %></h1>
        <% others.each do |other| %>
          <div>
            <%= link_to content_tag(:span,is_tourist_route ?  other.title : other.name), {:controller=>"index", :action=>"#{is_tourist_route ? other.format_title : other.format_name}_category"}  %>
            <p><%= is_tourist_route ?  other.content.none_html_content : none_html_content(other.description)  %></p>
          </div>
        <% end %>
        <a href="#" id="all">all news</a>
      </div>
    </div>
  </div>
  <div id="footer">
    <%= render :partial => "layouts/shared/footer" %>             
  </div>
</body>
</html>
<script type="text/javascript">
  $(window).load(function() {
  // The slider being synced must be initialized first
  // $('#carousel').flexslider({
  //   animation: "slide",
  //   controlNav: false,
  //   animationLoop: false,
  //   slideshow: false,
  //   itemWidth: 210,
  //   itemMargin: 5,
  //   asNavFor: '#slider'
  // });
   
  $('#slider').flexslider({
    animation: "slide",
    controlNav: true,
    animationLoop: true,
    slideshow: true,
    sync: "#carousel"
  });
});
</script>