<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
<title>Travel - About</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<%= stylesheet_link_tag "/assets/flexslider" %>
<%#= javascript_include_tag "jquery.flexslider-min" %>
<%= javascript_include_tag "/assets/jquery.flexslider" %>
</head>

<body>
  <div id="header">
    <%= render :partial => "layouts/shared/header" %>
  </div>
  <div id="content">
      <div id="main">
        <p><%= link_to "Tour", {:controller=>"index", :action=>"index"}%> &raquo; <%= @page_title %></p>
       <%= yield %>
    </div>
    <div id="sidebar">
      <div class="news">
        <h1 class="block_title">Other Scenic Spots</h1>
        <% @other_scenic_spots.each do |other| %>
          <div>
            <%= link_to content_tag(:span, other.name), {:controller=>"index", :action=>"#{other.format_name}_category"} %>
            <p><%= none_html_content(other.description)  %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="footer">
    <%= render :partial => "layouts/shared/footer" %>             
  </div>
</body>
</html>
<script type="text/javascript">
  $(window).load(function() {
  // The slider being synced must be initialized first
  // $('#carousel').flexslider({
  //   animation: "slide",
  //   controlNav: false,
  //   animationLoop: false,
  //   slideshow: false,
  //   itemWidth: 210,
  //   itemMargin: 5,
  //   asNavFor: '#slider'
  // });
   
  $('#slider').flexslider({
    animation: "slide",
    controlNav: true,
    animationLoop: true,
    slideshow: true,
    sync: "#carousel"
  });
});
</script>